# Python
venv/
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/

# Django
.env
db.sqlite3
media/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dokumentation (lokal)
A_documntation/


.claude/